@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'lato', sans-serif, tahoma;
}

nav {
    height: 90px;
    width: 100%;
    background-color: #000000e1;
    position: fixed;
    color: white;
    z-index: 99;
}

.nav-content {
    width: 75%;
    height: 90px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}


.nav-content .left {
    display: flex;
    margin-top: 20px;
}

.nav-content .left img {
    height: 52px;
}

.nav-content .left p {
    font-size: 21px;
    font-weight: normal;
    margin-left: 5px;
}

.opp {
    margin-top: -3px;
}

.nav-content .right {
    display: flex;
    margin-top: 35px;
}

.nav-content .right img {
    height: 19px;
    margin-right: 40px;
}

.nav-content .right h3 {
    font-weight: normal;
    font-size: 14px;
    margin-right: 30px;
}

.nav-content .right button {
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    background-color: #ffc427;
    margin-top: -10px;
    color: white;
    font-size: 14px;
    font-weight: 900;
}

.banner1 {
    height: 650px;
    background-image: url(https://logicaloperations.com/media/uploads/home/lo-homepage-background-010721.png);
    background-size: cover;
    width: 100%;
}

.ban1 {
    padding-top: 180px;
    display: flex;
    width: 75%;
    margin: auto;
    justify-content: space-between;
    color: white;
}

.ban1 img {
    height: 380px;
    margin-right: 50px;
}

.ban1 .left {
    margin-top: 100px;
    margin-right: 100px;
}

.ban1 .left h3 {
    font-size: 43px;
    font-weight: bolder;
    margin-bottom: 10px;
}

.ban1 .left p {
    font-size: 22px;
    margin-bottom: 40px;
    font-weight: normal;
}

.ban1 .left .btn2 {
    display: flex;
}

.ban1 .left button {
    padding: 15px;
    text-align: left;
    font-size: 14px;
    margin-right: 10px;
    border-radius: 5px;
    color: #ffffff;
    border: none;
    font-weight: 900;
}

.course {
    width: 171.33px;
    height: 66px;
    background-color: #ee3831;
}

.path {
    width: 210.26px;
    height: 66px;
    background-color: #009ddc;
}

.news {
    width: 119.41px;
    height: 66px;
    margin-bottom: -5px;
    background-color: #009ddc;
}

.banner2 {
    height: 230px;
    display: flex;
    background-color: #242424;
    width: 100%;
}

.banner2 .left {
    height: 230px;
    width: 50%;
    border-right: 0.1px solid rgb(122, 122, 122);
}

.banner2 .main {
    width: 70%;
    display: flex;
    margin: auto;
    padding-top: 60px;
    color: #ffffff;
}

.banner2 .img1 {
    height: 41.71px;
    width: 200px;
    margin-right: 50px;
    margin-top: 50px;
}

.banner2 .img2 {
    height: 133.25px;
    width: 200px;
    margin-right: 50px;
}

.banner2 h3 {
    font-size: 30px;
    font-weight: 500;
    margin-top: 20px;
}

.banner2 p {
    font-size: 16px;
    margin-top: 20px;
}

.banner2 .right {
    height: 230px;
    width: 50%;
}

.banner3 {
    height: 260px;
    width: 100%;
    display: flex;
    border-bottom: 0.3px solid rgb(59, 59, 59);
    border-top: 0.3px solid rgb(59, 59, 59);
}

.banner3 .first {
    width: 40%;
    background-color: #009ddc;
    border-right: 0.3px solid rgb(49, 49, 49);
}

.banner3 .second {
    width: 20%;
    background-color: #009ddc;
    border-right: 0.3px solid rgb(49, 49, 49);
    overflow: hidden;
    transition: 0.5s ease-in-out;
}

.banner3 .second:hover{
    transform: translateX(30px)
}

.banner3 .third {
    width: 20%;
    background-color: #009ddc;
    border-right: 0.3px solid rgb(49, 49, 49);
    overflow: hidden;
    transition: 0.5s ease-in-out;
    z-index: 1;
}

.banner3 .third:hover{
    transform: translateX(30px)
}

.banner3 .fourth {
    width: 20%;
    background-color: #009ddc;
    overflow: hidden;
    transition: 0.5s ease-in-out;
}

.banner3 .fourth:hover{
    transform: translateX(30px)
}

.banner3 h3 {
    font-size: 30px;
    color: #ffffff;
    font-weight: lighter;
    text-align: center;
    margin-top: 115px;
}

.banner3 h2 {
    font-size: 30px;
    color: #ffffff;
    font-weight: bolder;
    text-align: center;
    margin-top: 100px;
}

.banner3 h4 {
    font-size: 30px;
    color: #ffffff;
    font-weight: 900;
    text-align: center;
    margin-top: 115px;
}

.banner3 p {
    font-size: 16px;
    color: #ffffff;
    font-weight: lighter;
    margin-left: 125px;
    margin-top: 10px;
}

.banner4 {
    height: 740px;
    width: 100%;
    display: flex;
    border-bottom: 0.3px solid rgb(59, 59, 59);
}

.banner4 .first {
    width: 33.33%;
    height: 740px;
    background-color: #7fc027;
    border-right: 0.3px solid rgb(59, 59, 59);
}


.banner4 .second {
    width: 33.33%;
    height: 740px;
    background-color: #7fc027;
    border-right: 0.3px solid rgb(59, 59, 59);
    text-align: center;
}

.banner4 .third {
    width: 33.33%;
    height: 740px;
    background-color: #7fc027;
}

.banner4 .top {
    height: 370px;
    border-bottom: 0.3px solid rgb(59, 59, 59);
    text-align: center;
}

.banner4 .bottom {
    height: 370px;
    text-align: center;
}

.banner4 img {
    margin-top: 140px;
}

.banner4 p {
    font-weight: lighter;
    font-size: 25px;
    color: #ffffff;
    margin-top: 10px;
}

.banner4 h2 {
    font-size: 65px;
    font-weight: lighter;
    color: #ffffff;
    margin-top: 250px;
}

.banner4 h1 {
    font-size: 67px;
    font-weight: 900;
    color: #ffffff;
    margin-top: -15px;
}

.banner4 h3 {
    font-size: 20px;
    font-weight: normal;
    color: #000000;
    margin-top: 50px;
}

.banner4 .second img {
    margin-top: 20px;
}

.banner5 {
    height: 450px;
    display: flex;
    border-bottom: 0.3px solid rgb(59, 59, 59);
    color: #ffffff;
    width: 100%;
}

.banner5 .left {
    width: 50%;
    height: 450px;
    background-color: #972169;
    border-right: 0.3px solid rgb(59, 59, 59);
    text-align: center;
}

.banner5 .left h3 {
    font-size: 70px;
    font-weight: 900;
    margin-top: -20px;
}

.banner5 .left p {
    font-size: 20px;
    font-weight: lighter;
    margin-bottom: 25px;
    margin-top: 160px;
}

.banner5 .right {
    width: 50%;
    height: 450px;
    background-color: #972169;
}

.banner5 .top {
    height: 225px;
    border-bottom: 0.3px solid rgb(59, 59, 59);
    display: flex;
}

.banner5 .top img {
    height: 142px;
    width: 110px;
    margin-left: 150px;
    margin-right: 35px;
    margin-top: 50px;
}

.banner5 .top h4 {
    font-size: 30px;
    margin-top: 50px;
    margin-right: 47px;
}

.banner5 .top p {
    font-size: 16px;
    margin-top: 15px;
    font-weight: lighter;
}

.banner5 .bottom {
    height: 225px;
}

.banner5 .bottom p {
    font-weight: lighter;
    font-size: 30px;
    padding: 100px 0px 0px 100px;
}

.banner6 {
    height: 230px;
    display: flex;
    background-color: #972169;
    border-bottom: 0.3px solid rgb(59, 59, 59);
    color: #ffffff;
    font-size: 30px;
    font-weight: lighter;
    width: 100%;
}

.banner6 .left {
    height: 230px;
    width: 50%;
    border-right: 0.3px solid rgb(59, 59, 59);
}

.banner6 .right {
    height: 230px;
    width: 50%;
}

.banner6 .left p {
    text-align: center;
    margin-top: 100px;
}

.banner6 .right p {
    margin-top: 100px;
    margin-left: 100px;
}

.banner7 {
    height: 724px;
    display: flex;
    background-color: #009ddc;
}

.banner7 .left {
    width: 50%;
    height: 724px;
}

.banner7 .left .top {
    height: 362px;
    display: flex;
}

.banner7 .left .first {
    width: 50%;
    height: 362px;
    border-bottom: 0.3px solid rgb(59, 59, 59);
    border-right: 0.3px solid rgb(59, 59, 59);
    text-align: center;
}

.banner7 .left .first img {
    margin-top: 150px;
}

.banner7 .right {
    width: 50%;
    height: 724px;
    color: white;
}

.banner7 .right h3 {
    font-weight: lighter;
    font-size: 25px;
    padding-left: 114px;
    padding-top: 275px;
}

.banner7 .right h1 {
    font-weight: 900;
    font-size: 70px;
    padding-left: 114px;
}

.banner7 .right p {
    font-weight: lighter;
    font-size: 25px;
    color: #000000;
    padding-left: 114px;
}

.banner7 .right img {
    margin-top: 6px;
    margin-left: 10px;
}

.banner7 .right .txt {
    display: flex;
}

.banner8 {
    display: flex;
    height: 247px;
    background-color: #ffc427;
    color: #ffffff;
}

.banner8 .first {
    height: 247px;
    width: 33.33%;
    text-align: center;
}

.banner8 h3 {
    font-size: 60px;
    font-weight: 900;
    margin-top: 110px;
}

.banner8 h4 {
    font-size: 18px;
    font-weight: 900;
    margin-top: 110px;
    text-align: left;
    margin-left: 100px;
}

.banner8 .second {
    height: 247px;
    width: 33.33%;
    border-left: 0.3px solid rgb(59, 59, 59);
    text-align: center;
}

.banner8 .second img {
    margin-top: 100px;
}

.banner9 {
    height: 84px;
    background-color: #060606;
}

.ban9 {
    height: 84px;
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin: auto;
}

.ban9 .left {
    display: flex;
}

.ban9 .left a {
    text-decoration: none;
    color: #989898;
    font-size: 16px;
    font-weight: 550;
    margin-top: 34px;
}

.ban9 .left p {
    margin: 0px 10px;
    color: #989898;
    font-size: 16px;
    margin-top: 34px;
}

.ban9 .left img {
    margin-left: 64px;
    margin-top: 25px;
    height: 35px;
}

.ban9 .top {
    display: flex;
    margin-left: 50px;
    margin-bottom: 8px;
}

.ban9 .top a {
    text-decoration: none;
    color: #989898;
    font-size: 12px;
    font-weight: 550;
    margin-top: 20px;
}

.ban9 .top p {
    color: #989898;
    font-size: 16px;
    margin: 0px 10px;
    margin-top: 17px;
}

.ban9 .right .bottom p {
    font-size: 12px;
    text-align: right;
    color: #4D4D4D;
}

.media{
    display: none;
}

@media only screen and (max-width: 1300px) {

    nav,
    .banner1,
    .banner2,
    .banner3,
    .banner4,
    .banner5,
    .banner6,
    .banner7,
    .banner8,
    .banner9 {
        display: none;
    }

    .media{
        display: contents;
        text-align: center;
        background-color: #000000;
        height: 100%;
    }

    .cont1{
        display: flex;
        justify-content: center;
        background-color: #000000;
        color: #ffffff;
        height: 60px;
    }
    .cont2{
        height: 114px;
        font-weight: lighter ;
        font-size: 18px;
        color: #ffffff;
        background-color: #009ddc;
        border-bottom: 0.3px solid rgb(59, 59, 59);
    }

    .con3{
        height: 114px;
        font-weight: lighter;
        font-size: 18px;
        color: #ffffff;
        background-color: #009ddc;
        border-bottom: 0.3px solid rgb(59, 59, 59);
    }

    .con4{
        height: 114px;
        font-weight: lighter;
        font-size: 18px;
        color: #ffffff;
        background-color: #009ddc;
        border-bottom: 0.3px solid rgb(59, 59, 59);
    }

    .con5{
        height: 114px;
        font-weight: lighter;
        font-size: 18px;
        color: #ffffff;
        background-color: #ee3831;
        border-bottom: 0.3px solid rgb(59, 59, 59);
    }

    .con6{
        height: 114px;
        font-weight: lighter;
        font-size: 18px;
        color: #ffffff;
        background-color: #7fc027;
        border-bottom: 0.3px solid rgb(59, 59, 59);
    }

    .con7{
        height: 114px;
        font-weight: lighter;
        font-size: 18px;
        color: #ffffff;
        background-color: #ffc427;
        border-bottom: 0.3px solid rgb(59, 59, 59);
    }

    .con8{
        height: 114px;
        font-size: 5px;
        color: #ffffff;
        background-color: #000000;
    }

    .con8 h1{
        margin-top: 5px;
    }

    .con8 img{
        margin-top: 25px;
    }

    .media p{
        padding-top: 50px;
    }

    .media .logo{
        padding: 0;
        text-align: left;
        margin-left: 10px;
        font-weight: 550;
    }

    .media .cont1 img{
        height: 40px;
        padding-top: 10px;
    }

    .media .cont1 .top{
        padding-top: 10px;
    }
}